<div class="navbar">
    <nav>
        <ul>
            <li>
                <button class="menu-open" data-menu><i class="fa-solid fa-bars"></i></button>
            </li>
            <li>
                <button class="cart-open" data-cart><i class="fa-solid fa-shopping-cart"></i></button>
                <a href="/account"><i class="fa-solid fa-user"></i></a>
            </li>
        </ul>
    </nav>
    <button class="menu-close" data-menu><i class="fa-solid fa-xmark"></i></button>
    <div class="navbar-menu" id="menu" data-navbar-open>
        <div class="navbar-menu-text">
            <h5><a data-nav href="/" class="txt-anim">home</a></h5>
            <h5>
                <a data-nav href="/login" class="txt-anim">login /</a>
                <a data-nav href="/signup" class="txt-anim"> signup</a>
            </h5>
            <h5><a data-nav href="/all" class="txt-anim">product listings</a></h5>
        </div>
    </div>
    <div class="cart" id="cart" data-navbar-open>
        <div class="cart-scroller">
            <div class="cart-box">
                <div class="cart-head anim">
                    <h5>Your Cart</h5>
                    <span><%= locals.cart.length %> items</span>
                </div>
                <div class="cart-head anim">
                    <span>Total:</span>
                    <h5>$<%= locals.cart.reduce((acc, curr) => acc + curr.length, 0) %>.00</h5>
                </div>
            </div>
            <% for( let i = 0; i < locals.cart.length; i++ ) { %>
                <% const url = `/product?url=/images/newest/${locals.cart[i]}` %>
                <div class="cart-item">
                    <div>
                        <div class="cart-img img-here">
                            <a data-nav href="<%= url %>"><img src="/images/newest/<%= locals.cart[i] %>" alt="cart item"></a>
                        </div>
                    </div>
                    <div class="cart-item-box">
                        <div class="cart-text">
                            <div>
                                <a data-nav href="<%= url %>"><h5><%= locals.cart[i].split("/").pop().split(".").shift().split('-').join(' ') %></h5></a>
                                <h6>newest</h6>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur minima temporibus.
                                Beatae, possimus.</p>
                        </div>
                        <div class="cart-info">
                            <div class="cart-price">
                                <h5>$<%= locals.cart[i].length %>.00</h5>
                            </div>
                            <div class="cart-action">
                                <button>
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>