<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasure Mart</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body data-barba="wrapper">

    <%- include('partials/loader') %>
    <%- include('partials/navbar') %>

    <div class="container" data-scroll-container>
        <main data-barba="container" data-barba-namespace="account" class="page-account">
            <%- include('partials/alert') %>
            <section class="product-box page">
                <div class="product-row-box img-here">
                    <div class="overlay full"></div>
                        <img src="/images/me.jpg" alt="product">
                    <div class="product-img-text">
                        <h5>admin</h5>
                        <h6>dada teniola</h6>
                    </div>
                </div>
                <div class="product-row-box">
                    <div class="product-head">
                        <div class="product-head-show">
                            <h5>admin</h5>
                            <h6>dada teniola</h6>
                        </div>
                        <h4></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, minima? Rem dolorem dolore commodi, et incidunt minus amet cupiditate ad!</p>
                        <button class="add-to-cart">Edit information</button>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <%- include('partials/foot') %>

</body>