<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body data-barba="wrapper">
    
    <%- include('partials/loader') %>
    <%- include('partials/navbar') %>
    
    <div class="container" data-scroll-container>
        <main data-barba="container" data-barba-namespace="all" class="page-all">
            <%- include('partials/alert') %>
            <section class="sales-head page page-y">
                <div class="search">
                    <input type="text" placeholder="Search.">
                    <button class="clear-search none"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="alert-action">
                    <button>filter by <i class="fa-solid fa-bars-staggered"></i></button>
                </div>
            </section>
            <section class="products page">
                <%
                    const sections = [];
                    const batchSize = 3;
                    var tempSections = [];
                    products.forEach((elem, index) => {
                        tempSections.push(elem);
                        if (tempSections.length === batchSize || index === products.length - 1) {
                            sections.push(tempSections);
                            tempSections = [];
                        }
                    })
                %>
                <% for( let i = 0; i < sections.length; i++ ) { %>
                    <div class="sales-box">
                        <% for( let j = 0; j < sections[i].length; j++ ) { %>
                            <div class="sales-cont">
                                <div class="sales-img parallax img-here">
                                    <a href="/product?url=/images/products/<%= sections[i][j] %>"><img src="/images/products/<%= sections[i][j] %>" alt="products"></a>
                                </div>
                                <br>
                                <h3><%= sections[i][j].split('.').shift().split('-').join(' ') %></h3>
                                <p><%= sections[i][j].length %>.00 $</p>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </section>
            <section class="navigation options page page-y">
                <div class="navigation-box">
                    <span>previous</span>
                </div>
                <div class="navigation-box">
                    <span class="red">01</span>
                    <span>|</span>
                    <span>03</span>
                </div>
                <div class="navigation-box">
                    <span>next</span>
                </div>
            </section>
        </main>
    </div>

    <%- include('partials/foot') %>

</body>
</html>