<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/sign.css">
</head>
<body data-barba="wrapper">
    
    <%- include('partials/loader') %>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <main data-barba="container" data-barba-namespace="all" class="page-all">
            <%- include('partials/alert') %>

        </main>
    </div>

    <%- include('partials/foot') %>

</body>
</html>