<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasure Mart</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body data-barba="wrapper">
    
    <%- include('partials/loader') %>
    <%- include('partials/alert') %>
    <%- include('partials/navbar') %>

    <div class="container" data-scroll-container>
        <main data-barba="container" data-barba-namespace="home" class="page-home">
            <section class="hero page" data-scroll-section>
                <div class="hero-img" data-scroll data-scroll-speed="-0.6">
                    <img src="/images/model.png" alt="hero">
                </div>
                <div class="hero-text">
                    <h2 class="txt-anim" data-scroll data-scroll-speed="0.2">Spare your wallet</h2>
                    <br>
                    <h2 class="txt-anim" data-scroll data-scroll-speed="0.1">Shop at,</h2>
                    <div class="hero-gap"></div>
                    <div class="hero-name">
                        <h1 class="txt-anim" data-scroll data-scroll-speed="0.3">Treasure Mart</h1>
                    </div>
                </div>
                <div class="bonus">
                    <div class="bonus-box img-here">
                        <img src="/images/bonus/essential oil.jpg" alt="">
                    </div>
                </div>
            </section>
            <section class="newest" data-scroll-section>
                <div class="newest-img full">
                    <div class="newest-img-box full img-here"></div>
                    <div class="overlay full"></div>
                </div>
                <div class="newest-nav">
                    <div class="newest-nav-before"></div>
                    <hr>
                    <div class="newest-nav-after"></div>
                </div>
                <div class="newest-images">
                    <% if (newestImages.length > 0) { %>
                        <% for( let i = 0; i < newestImages.length; i++ ) { %>
                            <img src="/images/newest/<%= newestImages[i] %>" alt="newest">
                        <% } %>
                    <% } %>
                </div>
            </section>
            <section class="sales page page-y" data-scroll-section>
                <div class="sales-section">
                    <div class="sales-head">
                        <div class="head">
                            <h1>Popular</h1>
                            <span>SHOP</span>
                        </div>
                        <div class="options">
                            <span class="off">Prevoius</span>
                            <span>|</span>
                            <span>Next</span>
                        </div>
                    </div>
                    <div class="sales-box">
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/popular/shelves.jpg" alt="popular">
                            </div>
                            <br>
                            <h3>Vintage Drawers</h3>
                            <p>100.00 $</p>
                        </div>
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/popular/living room.jpg" alt="popular">
                            </div>
                            <br>
                            <h3>Fully Cushioned Couch</h3>
                            <p>250.00 $</p>
                        </div>
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/popular/scent.jpg" alt="popular">
                            </div>
                            <br>
                            <h3>Toothpick Stand</h3>
                            <p>15.99 $</p>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="sales-section">
                    <div class="sales-head">
                        <div class="head">
                            <h1>Deals</h1>
                            <span>SHOP</span>
                        </div>
                        <div class="options">
                            <span class="off">Prevoius</span>
                            <span>|</span>
                            <span>Next</span>
                        </div>
                    </div>
                    <div class="sales-box">
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/deals/watch.jpg" alt="deal">
                            </div>
                            <br>
                            <h3>Glashutte Original Watch</h3>
                            <span class="old">1,500.00 $</span>
                            <span class="new">1,200.00 $</span>
                        </div>
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/deals/watch with beads.jpg" alt="deal">
                            </div>
                            <br>
                            <h3>Jaegar LeCoultre Watch</h3>
                            <span class="old">25,000.00 $</span>
                            <span class="new">20,150.00 $</span>
                        </div>
                        <div class="sales-cont">
                            <div class="sales-img parallax img-here">
                                <img src="/images/deals/vase.jpg" alt="deal">
                            </div>
                            <br>
                            <h3>Toothpick Stand</h3>
                            <span class="old">155.99 $</span>
                            <span class="new">85.00 $</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="collections light page page-y" data-scroll-section>
                <div class="collection-head">
                    <div class="head light">
                        <h1>Collections</h1>
                        <span>SHOP</span>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="collections-section hor">
                    <div class="collections-text">
                        <h6>View our unique collections and find the one that suits your needs.</h6>
                        <br>
                        <a href="/">View all collections</a>
                    </div>
                    <div class="collections-box flex-end">
                        <div class="collections-img parallax img-here">
                            <img src="/images/collections/furniture.jpg" alt="collections">
                            <div class="collections-img-overlay full"></div>
                            <h3 class="collections-img-text">Living Room Set</h3>
                        </div>
                        <div class="collections-box-text">
                            <h5>Collection</h5>
                            <h6>Living Room Set</h6>
                        </div>
                    </div>
                </div>
                <div class="collections-section ver">
                    <div class="collections-box">
                        <div class="collections-img parallax img-here">
                            <img src="/images/collections/brick wall.jpg" alt="collections">
                            <div class="collections-img-overlay full"></div>
                            <h3 class="collections-img-text">Kitchen Set</h3>
                        </div>
                        <div class="collections-box-text">
                            <h5>Collection</h5>
                            <h6>Kitchen Set</h6>
                        </div>
                    </div>
                </div>
                <div class="collections-section ver">
                    <div></div>
                    <div class="collections-box">
                        <div class="collections-img parallax img-here">
                            <img src="/images/collections/architecture.jpg" alt="collections">
                            <div class="collections-img-overlay full"></div>
                            <h3 class="collections-img-text">Bedroom Set</h3>
                        </div>
                        <div class="collections-box-text">
                            <h5>Collection</h5>
                            <h6>Bedroom Set</h6>
                        </div>
                    </div>
                </div>
                <div class="collections-section hor">
                    <div class="collections-box flex-start">
                        <div class="collections-img parallax img-here">
                            <img src="/images/collections/kitchen.jpg" alt="collections">
                            <div class="collections-img-overlay full"></div>
                            <h3 class="collections-img-text">Dining Room Set</h3>
                        </div>
                        <div class="collections-box-text">
                            <h5>Collection</h5>
                            <h6>Dining Room Set</h6>
                        </div>
                    </div>
                </div>
            </section>
            <section class="newsletter page page-y" data-scroll-section>
                <div class="newsletter-box">
                    <div class="newsletter-text">
                        <h5>Newsletter</h5>
                        <br>
                        <h6>Register now with our newsletter and get the latest updates available</h6>
                    </div>
                    <div class="newsletter-form">
                        <form>
                            <input type="text" placeholder="Name" name="name">
                            <div class="row">
                                <input type="email" placeholder="Email" name="email">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- Changing scripts -->
            <script src="/scripts/home.js"></script>
        </main>
    </div>

    <%- include('partials/foot') %>

</body>

</html>